.container {
  margin-top: 50px;
}
.header {
  text-align: center;
}
.nav {
  padding: 10px;
  color: white;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.error {
  color: rgb(233, 51, 51);
  margin-top: 5px;
}
.simple-select {
  -webkit-appearance: none;
}
.salary-select {
  max-width: 30%;
}
.slider-container {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}
.slider {
  max-width: 70%;
}
.icon-container {
  display: flex;
  flex-basis: 20%;
  justify-content: space-around;
  align-items: center;
  margin-top: 40%;
}
.select {
  min-width: 30%;
}
.nav-dropdown {
  transition: all 2s ease;
}
.company {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 150px;
}
.company-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.company-home-name {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}
.container-shadow {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding: 4px;
}
.td {
  padding: 1.2rem;
  background-color: red;
}
